@function half($v){
  @return $v/2
}

@mixin space-y($v) {
  margin-top: $v;
  margin-bottom: $v;
}

@mixin space-x($v) {
  margin-left: $v;
  margin-right: $v;
}

@mixin flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-center{
  @include flexCenter
}
.flex-between{
  @include flexBetween
}

//homepage Card
.card-wrapper{
  border-radius: 0 0 32px 32px;
  cursor:pointer;
  transition: transform 0.25s ease-in-out;
    .card-rate{
      background-color: #003580;
      color: white;
      padding: 0 8px;
      border-radius: 5px;
      font-weight: 800;
    }

    //for cancel req
    .card-holder{
      @include space-y(12px);
      width: 1000px;
      height:150px;
      background-color: white;
      box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);
    }
  &:hover{
    transform: scale(1.05);
  }
}
//amenities Card
.card-amenities{
  @extend .card-wrapper;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  margin:10px;
  height: 75px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  .card-img{
    @include flexCenter;
    width: 50px;
    height:50px;
    margin:10px 16px;
    object-fit: cover;
    border-radius: 0;
    padding: 8px;
  }
}
//booking his
.history-wrapper{
  display: flex;
  justify-content: end;
  align-items: end;
  width: 100%;
    .history-dropdown{
      @include flexCenter;
      width: 128px;
      height: 40px;
      display: flex;
      justify-content: space-between;
    }
}

//chatbox display
.page-children{
  position: relative;
  .chatbox-holder{
    height:100px;
    position: fixed;
    display: flex;
    left:0;
    top:10%;
    padding: 16px;
  }
}

.room-info{
  text-align: left;
  width: 100%;
  font-family: 'Afacad Flux', sans-serif;
  font-size: 20px;
}
